body{
	background-image: url('img/sfondo.jpg');
	background-repeat: no repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	background-size: cover;
	
}
h1{	
	font-family: "Poetsen One", sans-serif;

	color: rgb(81, 238, 255); 
	background-color: "#fefbd8";
	font-size: 50px; }
h2{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
	background: linear-gradient(to bottom,#0066FF, #00E6FF);
	color: black; 
	font-size: 10}
h3{
	font-family: "Poetsen One", sans-serif;
	color: rgb(29, 221, 255); 
	background-color: "#fefbd8";
	font-size:25px;}
   
    .button {
     display: inline-block;
     margin-top: 15px;
     padding: 10px 15px;
     background-color: #870000;
     color: white;
     transition-duration: 1s;
     text-decoration: none;
     border-radius: 5px;
   }

   .button:hover {
     background-color: #cd0401;
   }